[req]
prompt = no
distinguished_name = dn
x509_extensions = ext

[dn]
CN = app.divyansh.test

[ext]
subjectAltName = DNS:app.divyansh.test,DNS:api.divyansh.test
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth