[req]
prompt = no
distinguished_name = dn
x509_extensions = ext

[dn]
CN = app.teamX.test

[ext]
subjectAltName = DNS:app.teamX.test,DNS:api.teamX.test
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth